@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// Import the _variable.scss file 
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, san-serif;
}

.container {
    margin: 20px;
    display:flex;
}
